/*

    Style sheet of Pranawa Somvedi

*/

@font-face {
    font-family: "kyhu";
    src: url(kyhu.ttf) format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}

body, html {
    display: block;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

div {
    display: block;
}

img.project {
    height: 500px;
    float: left;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}

ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: grey;
}

.header {
    opacity: 0.75;
    top: 0;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("laptopbg.jpg");
    min-height: 100%;
    
}

.headerText {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.headerText span.sides {
    background-color: grey;
    color: white;
    padding: 17px;
    font-size: 30px;
    letter-spacing: 7px;
    font-family: kyhu;
}

.headerImage {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.core {
    background-color: whitesmoke;
    width: 100%;
    height: 30%;
    text-align: center;
}

.coreBreak {
    background-image: url(moon.jpg);
    opacity: 0.75;
    top: 0;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 30%;
}

.coreBreakText {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.coreBreakText span.sides {
    background-color: grey;
    color: white;
    padding: 17px;
    font-size: 30px;
    letter-spacing: 7px;
    font-family: kyhu;
}

.coreText {
    width: 100%;
    align-content: center;

}

.box100 {
    width: 100%;
    height: 100%;
    float: left;
}

.box50 {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.box70 {
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
}

.box30 {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

.newFont {
    font-family: kyhu;
    letter-spacing: 5px;
}

.newFontLeft {
    font-family: kyhu;
    letter-spacing: 5px;
    text-align: left;
    margin-left: 2em;
}

p {
    display: block;
    margin-inline-start: 2em;
    text-align: left;
    font-size: 20px;
    font-family: Bahnschrift;
}

p.left {
    display: block;
    margin-inline-start: 2em;
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: Bahnschrift;
}

p.right {
    display: block;
    margin-inline-start: 2em;
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: Bahnschrift;
}


